extends ../layout

block content
  link(rel='stylesheet', type='text/css', href='../css/lib/slick.css')
  .profile-page
    .row
      .col-sm-3
        img( src="../"+"#{otheruser.profile.profileimage}",class="circle" ,width='200', height='200')
      .col-sm-5
        h3 #{otheruser.profile.appearname}
        h4.bio #{otheruser.profile.bio}
      .col-sm-4
        h4 #{otheruser.profile.location}
        h5 #{otheruser.profile.categories}
        h6.long.hidden #{otheruser.map.long}
        h6.lat.hidden #{otheruser.map.lat}
        h6.id.hidden #{otheruser._id}


    section
      section.regular

        - for(var i=0; i<otheruser.uploadPhotos.length; i+=2) {
          div
            if (otheruser.uploadPhotos[i].image)
              img(src="../"+otheruser.uploadPhotos[i].image)
            -if (otheruser.uploadPhotos[i+1])
              img(src="../"+otheruser.uploadPhotos[i+1].image)
        - }

  section
  #map




  script.
    var lat = $('.lat').text()
    var long = $('.long').text()
    $(function () {


    console.log(parseInt(lat));

      $(".regular").slick({
        dots: true,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3
      });
    });

    var map;
    function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: parseFloat(lat), lng: parseFloat(long) },
    zoom: 17
    });



    }

  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB1_QSC1MHBWdON8G3NICbfuaMXpM1RsNM&callback=initMap', async='', defer='')

