extends ../layout

block content
  header
    link(rel='stylesheet', type='text/css', href='../css/lib/slick.css')
    link(rel='stylesheet', type='text/css', href='../css/lib/slick-theme.css')
    .search-page
      section
        h1.center #{categories}
        - for(var i=0; i<data.length; i++) {
          section.row
            section.col-sm-2
              img( src="../"+data[i].profile.profileimage
                ,class="circle" ,width='100', height='100')
              h3 #{data[i].profile.appearname}
              h6.center #{data[i].profile.bio}
              h6.center #{data[i].profile.location}
              h6 #{data[i].uploadPhotos.length}
            section.regular.col-sm-10
              - for(var n=0; n<data[i].uploadPhotos.length; n++){
                  img(src="../"+data[i].uploadPhotos[n].image,width='300', height='300')
              -}
        - }

  script.
    $(function () {
      $(".regular").slick({
        dots: true,
        infinite: true,
        slidesToShow:3,
        slidesToScroll: 3
      });
    });

