extends ../layout

block content
  header
    link(rel='stylesheet', type='text/css', href='../../css/lib/slick.css')
    link(rel='stylesheet', type='text/css', href='../../css/lib/slick-theme.css')
    .row
      .col-sm-3
        h1.hidden.searchcatlocation #{location}
      .col-sm-2
        a(href='/search/#{tagsstring}/#{searchlocation || "all"}/individual')
          img(src="../../yellowpeople.png", height="35", width="35")
        a(href='/search/#{tagsstring}/#{searchlocation || "all"}/upstairs')
          img(src="../../buildingblue.png", height="30", width="30")
        a(href='/search/#{tagsstring}/#{searchlocation || "all"}/grounds')
          img(src="../../redshop.png", height="30", width="30")
      .col-sm-4
        buttons.btn.btn-default.searchcatlocation-all
          | ALL
         buttons.btn.btn-default.searchcatlocation-kow
          | KOWLOON
        buttons.btn.btn-default.searchcatlocation-hkis
          | HK ISLAND
        buttons.btn.btn-default.searchcatlocation-newterr
          | NEW TERR
      .col-sm-3

    .search-page
      section
        h1.center.categories #{categories}
        - for(var i=0; i<data.length; i++) {
          section.row
            section.col-sm-2
              img( src="../../"+data[i].profile.profileimage
                ,class="circle" ,width='100', height='100')
              h3 #{data[i].profile.appearname}
              h6.center #{data[i].profile.bio}
              h6.center #{data[i].profile.location}
              h6 #{data[i].uploadPhotos.length}
            section.regular.col-sm-10
              - for(var n=0; n<data[i].uploadPhotos.length; n++){
                  img(src="../../"+data[i].uploadPhotos[n].image,width='300', height='300')
              -}
        - }

  script.
    $(function () {
      $(".regular").slick({
        dots: true,
        infinite: true,
        slidesToShow:3,
        slidesToScroll: 3
      });

    var location = $('.searchcatlocation').text()
    console.log(location);
    if (location === "newterr") {
      $('.searchcatlocation-newterr').addClass( "btn-info" )
    } else if (location === "kow") {
       $('.searchcatlocation-kow').addClass( "btn-info" )
    } else if (location === "hkis") {
       $('.searchcatlocation-hkis').addClass( "btn-info" )
    } else if (location === "all") {
       $('.searchcatlocation-all').addClass( "btn-info" )
    }





    });
    var categories = $('.categories').text();
    $('.searchcatlocation-all').click(function(e){

        console.log('search all');
        window.location.href = "/search/"+ categories
      });

    $('.searchcatlocation-hkis').click(function(e){
        console.log('search hk island');
         window.location.href = "/search/"+ categories +"/hkis"
      });

    $('.searchcatlocation-kow').click(function(e){
        console.log('search kowloon');
         window.location.href = "/search/"+ categories +"/kow"
      });

    $('.searchcatlocation-newterr').click(function(e){
        console.log('search new terr');
         window.location.href = "/search/"+ categories +"/newterr"
      });


